<% include partials/header %>

<h1>This is the home page.</h1>

<img class="" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRm6ho9vishuuHwt7TnOCViap4OCgb1fY1NAQ0l42TUZmCGhKAXxA" alt="" />

<% include partials/footer %>
